---

---

<div class="sectionText">
  <h2>CRTV JAM — Your Weekly Creative Escape</h2>
</div>

<style>
  @font-face {
    font-family: Anton;
    src: url(../../public/fonts/Anton-Regular.ttf);
  }

  @font-face {
    font-family: Inter;
    src: url(../../public/fonts/Inter_18pt-SemiBold.ttf);
  }

  h2 {
    color: #333;
    font-family: Anton;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    text-transform: uppercase;
  }
</style>
