<footer>
  <div class="borderContainer">
    <div class="border">
      <p class="bordertext">Newsletter++</p>
    </div>
    <div class="border">
      <p class="bordertext">Newsletter++</p>
    </div>
    <div class="border">
      <p class="bordertext">Newsletter++</p>
    </div>
    <div class="border">
      <p class="bordertext">Newsletter++</p>
    </div>
    <div class="border">
      <p class="bordertext">Newsletter++</p>
    </div>
    <div class="border">
      <p class="bordertext">Newsletter++</p>
    </div>
    <div class="border">
      <p class="bordertext">Newsletter++</p>
    </div>
  </div>
  <div class="signUp">
    <h1>Design news to your inbox</h1>
    <div class="input">
      <input type="email" class="inputField" />
      <button class="btn">Sign up</button>
    </div>
  </div>
  <div class="socials">
    <svg
      width="116"
      height="20"
      viewBox="0 0 116 20"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M10.0003 7.49984C9.33729 7.49984 8.7014 7.76323 8.23256 8.23207C7.76372 8.70091 7.50033 9.3368 7.50033 9.99984C7.50033 10.6629 7.76372 11.2988 8.23256 11.7676C8.7014 12.2364 9.33729 12.4998 10.0003 12.4998C10.6634 12.4998 11.2993 12.2364 11.7681 11.7676C12.2369 11.2988 12.5003 10.6629 12.5003 9.99984C12.5003 9.3368 12.2369 8.70091 11.7681 8.23207C11.2993 7.76323 10.6634 7.49984 10.0003 7.49984ZM10.0003 5.83317C11.1054 5.83317 12.1652 6.27216 12.9466 7.05356C13.728 7.83496 14.167 8.89477 14.167 9.99984C14.167 11.1049 13.728 12.1647 12.9466 12.9461C12.1652 13.7275 11.1054 14.1665 10.0003 14.1665C8.89526 14.1665 7.83545 13.7275 7.05405 12.9461C6.27265 12.1647 5.83366 11.1049 5.83366 9.99984C5.83366 8.89477 6.27265 7.83496 7.05405 7.05356C7.83545 6.27216 8.89526 5.83317 10.0003 5.83317V5.83317ZM15.417 5.62484C15.417 5.90111 15.3072 6.16606 15.1119 6.36141C14.9165 6.55676 14.6516 6.6665 14.3753 6.6665C14.0991 6.6665 13.8341 6.55676 13.6388 6.36141C13.4434 6.16606 13.3337 5.90111 13.3337 5.62484C13.3337 5.34857 13.4434 5.08362 13.6388 4.88827C13.8341 4.69292 14.0991 4.58317 14.3753 4.58317C14.6516 4.58317 14.9165 4.69292 15.1119 4.88827C15.3072 5.08362 15.417 5.34857 15.417 5.62484V5.62484ZM10.0003 3.33317C7.93866 3.33317 7.60199 3.339 6.64283 3.3815C5.98949 3.41234 5.55116 3.49984 5.14449 3.65817C4.80417 3.78312 4.4965 3.98339 4.24449 4.244C3.98366 4.496 3.78312 4.80366 3.65783 5.144C3.49949 5.55234 3.41199 5.98984 3.38199 6.64234C3.33866 7.56234 3.33366 7.88401 3.33366 9.99984C3.33366 12.0615 3.33949 12.3982 3.38199 13.3573C3.41283 14.0098 3.50033 14.449 3.65783 14.8548C3.79949 15.2173 3.96616 15.4782 4.24283 15.7548C4.52366 16.0348 4.78449 16.2023 5.14283 16.3407C5.55449 16.4998 5.99283 16.5882 6.64283 16.6182C7.56283 16.6615 7.88449 16.6665 10.0003 16.6665C12.062 16.6665 12.3987 16.6607 13.3578 16.6182C14.0095 16.5873 14.4487 16.4998 14.8553 16.3423C15.1951 16.2168 15.5026 16.0169 15.7553 15.7573C16.0362 15.4765 16.2037 15.2157 16.342 14.8573C16.5003 14.4465 16.5887 14.0073 16.6187 13.3573C16.662 12.4373 16.667 12.1157 16.667 9.99984C16.667 7.93817 16.6612 7.60151 16.6187 6.64234C16.5878 5.99067 16.5003 5.55067 16.342 5.144C16.2164 4.80401 16.0162 4.49647 15.7562 4.244C15.5043 3.98304 15.1966 3.78248 14.8562 3.65734C14.4478 3.499 14.0095 3.4115 13.3578 3.3815C12.4378 3.33817 12.1162 3.33317 10.0003 3.33317ZM10.0003 1.6665C12.2645 1.6665 12.547 1.67484 13.4353 1.7165C14.3228 1.75817 14.927 1.89734 15.4587 2.104C16.0087 2.31567 16.472 2.60234 16.9353 3.06484C17.3591 3.48142 17.687 3.98533 17.8962 4.5415C18.102 5.07234 18.242 5.67734 18.2837 6.56484C18.3228 7.45317 18.3337 7.73567 18.3337 9.99984C18.3337 12.264 18.3253 12.5465 18.2837 13.4348C18.242 14.3223 18.102 14.9265 17.8962 15.4582C17.6876 16.0147 17.3596 16.5187 16.9353 16.9348C16.5186 17.3584 16.0148 17.6863 15.4587 17.8957C14.9278 18.1015 14.3228 18.2415 13.4353 18.2832C12.547 18.3223 12.2645 18.3332 10.0003 18.3332C7.73616 18.3332 7.45366 18.3248 6.56533 18.2832C5.67783 18.2415 5.07366 18.1015 4.54199 17.8957C3.9856 17.6869 3.4816 17.359 3.06533 16.9348C2.6415 16.5183 2.3136 16.0144 2.10449 15.4582C1.89783 14.9273 1.75866 14.3223 1.71699 13.4348C1.67783 12.5465 1.66699 12.264 1.66699 9.99984C1.66699 7.73567 1.67533 7.45317 1.71699 6.56484C1.75866 5.6765 1.89783 5.07317 2.10449 4.5415C2.31302 3.98499 2.641 3.48094 3.06533 3.06484C3.48172 2.64086 3.98568 2.31295 4.54199 2.104C5.07366 1.89734 5.67699 1.75817 6.56533 1.7165C7.45366 1.67734 7.73616 1.6665 10.0003 1.6665Z"
        fill="white"></path>
      <path
        d="M50.4683 4.71327C49.8321 4.99468 49.1574 5.1795 48.4666 5.26161C49.1947 4.82613 49.7397 4.14078 49.9999 3.33327C49.3166 3.73994 48.5674 4.02494 47.7866 4.17911C47.2621 3.61792 46.5669 3.24574 45.809 3.12043C45.0512 2.99511 44.2732 3.12368 43.596 3.48615C42.9187 3.84862 42.3802 4.42468 42.0642 5.12477C41.7481 5.82486 41.6722 6.60976 41.8483 7.35744C40.4625 7.28798 39.1069 6.92787 37.8693 6.30049C36.6318 5.67311 35.54 4.79248 34.6649 3.71577C34.3552 4.24781 34.1924 4.85263 34.1933 5.46827C34.1933 6.67661 34.8083 7.74411 35.7433 8.36911C35.1899 8.35169 34.6488 8.20226 34.1649 7.93327V7.9766C34.1651 8.78136 34.4436 9.56128 34.9531 10.1842C35.4627 10.807 36.172 11.2345 36.9608 11.3941C36.4471 11.5333 35.9085 11.5538 35.3858 11.4541C35.6081 12.1468 36.0416 12.7526 36.6254 13.1867C37.2092 13.6208 37.9142 13.8614 38.6416 13.8749C37.9187 14.4427 37.0909 14.8624 36.2057 15.1101C35.3204 15.3577 34.395 15.4285 33.4824 15.3183C35.0755 16.3428 36.93 16.8867 38.8241 16.8849C45.2349 16.8849 48.7408 11.5741 48.7408 6.96827C48.7408 6.81827 48.7366 6.66661 48.7299 6.51827C49.4123 6.02508 50.0013 5.41412 50.4691 4.71411L50.4683 4.71327Z"
        fill="white"></path>
      <path
        d="M81.9528 5.41516C82.3337 6.90016 82.3337 10.0002 82.3337 10.0002C82.3337 10.0002 82.3337 13.1002 81.9528 14.5852C81.7412 15.406 81.122 16.0518 80.3378 16.2702C78.9137 16.6668 74.0003 16.6668 74.0003 16.6668C74.0003 16.6668 69.0895 16.6668 67.6628 16.2702C66.8753 16.0485 66.257 15.4035 66.0478 14.5852C65.667 13.1002 65.667 10.0002 65.667 10.0002C65.667 10.0002 65.667 6.90016 66.0478 5.41516C66.2595 4.59433 66.8787 3.9485 67.6628 3.73016C69.0895 3.3335 74.0003 3.3335 74.0003 3.3335C74.0003 3.3335 78.9137 3.3335 80.3378 3.73016C81.1253 3.95183 81.7437 4.59683 81.9528 5.41516V5.41516ZM72.3337 12.9168L77.3337 10.0002L72.3337 7.0835V12.9168Z"
        fill="white"></path>
      <path
        d="M98.5 2.5C106.784 2.5 113.5 9.21583 113.5 17.5H111C111 10.5967 105.403 5 98.5 5V2.5ZM98.5 8.33333C103.562 8.33333 107.667 12.4375 107.667 17.5H105.167C105.167 15.7319 104.464 14.0362 103.214 12.786C101.964 11.5357 100.268 10.8333 98.5 10.8333V8.33333ZM98.5 14.1667C99.3841 14.1667 100.232 14.5179 100.857 15.143C101.482 15.7681 101.833 16.6159 101.833 17.5H98.5V14.1667Z"
        fill="white"></path>
    </svg>
  </div>
</footer>

<style>
  @font-face {
    font-family: Archivo;
    src: url(../../public/fonts/Archivo-Regular.ttf);
  }

  @font-face {
    font-family: Roboto-reg;
    src: url(../../public/fonts/Roboto-Regular.ttf);
  }

  @font-face {
    font-family: Inter;
    src: url(../../public/fonts/Inter_18pt-SemiBold.ttf);
  }

  footer {
    background-color: #333333;
  }

  h1 {
    color: #f9f9f9;
    font-family: Archivo;
    font-size: 80px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    text-transform: uppercase;
  }

  /* Custom border */
  .borderContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    overflow-x: hidden;
  }

  .bordertext {
    color: #f9f9f9;
    font-family: Roboto-reg;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
  }

  /* Email sign up */
  .signUp {
    display: flex;
    margin: 3vw 10vw;
    align-items: center;
  }

  .input {
    display: flex;
    max-height: 40px;
    gap: 10px;
  }

  .btn {
    background-color: #fff;
    border: 0;
    width: 70px;
    font-family: Roboto-reg;
    font-size: 14px;
    font-weight: 200;
    text-transform: uppercase;
  }

  .inputField {
    border-radius: 0;
  }

  /* Socials */
  .socials {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3vw;
  }

  @media screen and (max-width: 601px) {
    .signUp {
      flex-direction: column;
      align-items: center;
    }

    h1 {
      font-size: 40px;
    }

    .socials {
      margin-top: 50px;
    }
  }
</style>
